body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt;
}


hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


code {
    font: .9em Consolas, "Courier New", Monaco, Courier, monospace;
}

a img {
    border: none;
}

blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em;
}

a:link,
a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}