<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
">
	<context:annotation-config />
	<context:component-scan base-package="com.megalogika.sv" scoped-proxy="targetClass"/>

	<import resource="daoConfiguration.xml" />
	<import resource="security-config.xml" />
	<import resource="mail.xml" />
	<import resource="view-config.xml" />
	<import resource="destdir.xml"/>
	<import resource="jobs.xml" />
    
    <!-- Resolves placeholders in spring xml files ("${some}") to values in specified properties files.
         Second record will override properties defined in first one.-->
    <context:property-placeholder
            location="classpath*:site.properties,
                      classpath*:custom-site.properties"/>

	<bean id="confirmationsRequired" class="java.lang.Integer">
		<constructor-arg><value>${product.confirmationsRequired}</value></constructor-arg>
	</bean>

	<bean id="fileService" class="com.megalogika.sv.service.FileService" autowire="byType"/>

	<bean id="blogReader" class="com.megalogika.sv.service.BlogReader">
		<property name="blogUrl" value="${blog.url}"/>
	</bean>
	
	<util:list id="ignoreWords">
	    <value>druska</value>
	    <value>nera</value>
	</util:list>
	
	<bean id="eDictionaryName" class="java.lang.String">
		<constructor-arg><value>${e.dictionary.name}</value></constructor-arg>
	</bean>
	
	<bean id="dictionaryName" class="java.lang.String">
		<constructor-arg><value>${dictionary.name}</value></constructor-arg>
	</bean>
	
	<bean id="feedConfig" class="com.megalogika.sv.view.FeedConfig">
		<property name="authorEmail" value="info@sveikasvaikas.lt" />
		<property name="authorName" value="sveikasvaikas.lt" />
		<property name="feedDescription" value="sveikasvaikas.lt produktų sąrašas" />
		<property name="feedImageUrl" value="/img/logo2.png" />
		<property name="feedTitle" value="sveikasvaikas.lt" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000" />
	</bean>
    
    <bean id="messageSource"
        class="com.megalogika.sv.util.DbMessageSource">
        <property name="basenames">
            <list>
                <value>messages_${messages.locale}</value>
                <value>shoppingBasketmessages_${messages.locale}</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="mainLocale" value="${messages.locale}"/>
    </bean>
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" >
		<property name="defaultLocale" value="${messages.locale}"/>
	</bean>
	
</beans>