<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 
	'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/conf/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<!-- Enables Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
<!-- 
	<filter>
		<filter-name>hibernate-filter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernate-filter</filter-name>
		<url-pattern>/spring/product</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>hibernate-filter</filter-name>
		<url-pattern>/spring/addComment</url-pattern>
	</filter-mapping>
-->	
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/conf/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- //TODO: removed deps -->
	<servlet>
		<servlet-name>support</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/conf/support-servlet.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
    
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

		<!-- FreemarkerServlet settings: -->
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html</param-value>
		</init-param>

		<!-- FreeMarker settings: -->
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value>
			<!--
			86400
				0 is for development only! Use higher value otherwise.
			-->
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>

	<!--
		Serves static resource content from .jar files such as spring-js.jar
	-->
	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.springframework.js.resource.ResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping>
    
    <!-- //TODO: removed deps -->
	<servlet-mapping>
		<servlet-name>support</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>
    

	<!--
		Map all /resources requests to the Resource Servlet for handling
	-->
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
    	<session-timeout>30</session-timeout> 
	</session-config>
	
	<!-- 
		* 400 Bad Request
	    * 401 Unauthorized
	    * 403 Forbidden (Authorization required)
	    * 404 Not Found
	    * 500 Internal Server Error
	    * 503 Service Unavailable 
     -->

	<error-page>
		<error-code>400</error-code>
		<location>/spring/400</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/spring/403</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/spring/403</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/spring/404</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/spring/500</location>
	</error-page>
	
	<error-page>
		<error-code>502</error-code>
		<location>/spring/500</location>
	</error-page>
	
	<error-page>
		<error-code>503</error-code>
		<location>/spring/500</location>
	</error-page>
	
	<error-page>
		<error-code>409</error-code>
		<location>/spring/409</location>
	</error-page>	
	
</web-app>
